footer {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    grid-area: footer;
    background-color: #222222;


}